#products {
    background-color: var(--dark-grey);
}

.bullet-point {
    margin-right: 20px;
}

.bullet span {
    font-weight: bolder;
}

li {
    font-weight: bolder;
    padding: 20px;
    font-size:larger;
}

.bullet {
   justify-content: flex-end;
}

ul {
  width: 85%;
  
}