#products {
    background-color: var(--dark-grey);
}

.bullet-point {
    margin-right: 20px;
}

.bullet span {
    font-weight: bolder;
}

li {
    font-weight: bolder;
    padding: 20px;
    font-size:larger;
    list-style: none;
    background: url(../images/Oval\ Copy\ 3.png)  left center no-repeat;
    padding-left: 49px; 
}

.bullet {
   justify-content: flex-end;
}

ul {
  width: 90%;
  
}